@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.focused {
  @apply bg-white text-[#0096c4] rounded-r-[30px] font-bold text-base w-full flex items-center gap-4 text-center pl-5 py-3;
}

.links {
  @apply w-full flex items-center gap-4 text-center text-white font-bold py-3 hover:bg-white hover:text-[#0096c4] hover:rounded-r-2xl pl-5;
}
